html, body, figure {
    max-width: 100%;
}
button, .btn {
    transition: background-color 250ms cubic-bezier(0.55, 0, 0.1, 1);
}
.topnav {
    text-align: center;
    font-family: 'Baloo Thambi 2', cursive;
    font-size: 20px;
    background-color: #fac2c8;
    display: flex;
    justify-content: space-around;
    padding: 30px 0px;

}
a {
    color: white;
    text-decoration: none;
}
a.active {
    background-color: #fac2c8;;
    text-decoration: underline;
    border-right: 1px;

}
h1 {
    text-align: center;
    font-family: 'Baloo Thambi 2', cursive;
    font-size: 2em;
    margin: 20px;
}
.text-left {
    text-align: left !important;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ol, ul {
    margin-top: 0px;
    margin-bottom: 10px;
    font-family: 'Baloo Thambi 2', cursive;
}

.ct-map {
    position: relative;
    width: 562px;
    -webkit-transition: all 250ms cubic-bezier(0.55, 0, 0.1, 1);
    transition: all 250ms cubic-bezier(0.55, 0, 0.1, 1);
    margin-top: 55px;
}
.ct-venue.berkeley {
    top: 128px;
    left: 300px;
}
.ct-popup {
    background: #b80f20;
    border-radius: 50%;
    width: fit-content;
    height: 50px;
    text-align: center;
    color: white;
    padding: 20px 20px 20px;
    overflow: hidden;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 12%;
    -ms-transform-origin: 12%;
    transform-origin: 12%;
    opacity: 0;
    -webkit-transition: all 250ms cubic-bezier(0.55, 0, 0.1, 1);
    transition: all 250ms cubic-bezier(0.55, 0, 0.1, 1);
}
.ct-popup__name {
    font-family: 'Baloo Thambi 2', cursive;
    font-size: 15px;
    text-transform: uppercase;
    padding-bottom: 14px;
    display: block;
}
.ct-popup__content {
    font-size: 12px;
    font-family: 'Baloo Thambi 2', cursive;
}
.ct-venue {
    position: absolute;
    width: 20px;
    height: 20px;
}
.ct-venue__button .ct-close {
    display: none;
}
.ct-venue.active .ct-venue__button .ct-close {
    display: block;
}
.ct-venue.active .ct-venue__button .ct-open, .ct-venue.active .ct-venue__button .ct-venue__name {
    display: none;
}
.ct-venue__name {
    display: block;
    font-weight: bold;
    text-transform: uppercase;
    position: absolute;
    width: 240px;
    left: 50%;
    margin-left: -120px;
    margin-top: 3px;
    font-family: 'Baloo Thambi 2', cursive;
    color: #111f1d;
    font-weight: 900;
}
.ct-venue.oakland {
    top: 43%;
    left: 40%;
}
.ct-venue {
    position: absolute;
    width: 334px;
    height: 334px;
}
.ct-venue__button {
    background: none;
    border: none;
    z-index: 30;
    position: absolute;
    top: 46%;
    left: 12px;
    outline: none;
}
.ct-venue.oakland2 {
    top: 24%;
}
.ct-venue.oakland {
    top: 310px;
    left: 250px;
}
.ct-content {
    width: 100%;
    max-width: 537px;
    margin-left: auto;
    margin-right: auto;
}
.ct-map__section .container .ct-section-header {
    padding-bottom: 10px;
}
.ct-content .ct-section-header {
    margin-top: 0;
    padding-top: 83px;
    letter-spacing: 0.35px;
}
.ct-section-header {
    font-family: 'Baloo Thambi 2', cursive;
    font-weight: 900;
    color: #101f1d;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    padding-top: 45px;
    letter-spacing: 1.25px;
    margin-bottom: 5px;
}
.ct-content .ct-section-header small {
    margin-bottom: -4px;
    padding-top: 12px;
    letter-spacing: 0px;
}
.ct-section-header small {
    color: #303030;
    font-size: 18px;
    display: block;
    font-weight: 600;
    padding-top: 10px;
    margin-bottom: -12px;
    text-transform: none;
}
.ct-venue.active {
    z-index: 30;
}
.ct-venue.active .ct-popup {
    opacity: 1;
    display: inline-table;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    position: relative;
    z-index: 20;
}
.ct-content li {
    font-weight: 700;
    font-size: 17px;
    padding-left: 4px;
}
.ct-content .btn {
    margin-top: 30px;
    max-width: 200px;
    text-align: center;
}
.btn.btn-motive {
    background: #fac2c8;
    color: white;
    text-align: center;
}
.btn {
    font-size: 15px;
    padding: 12px 36px 8px;
    line-height: 1;
    text-transform: uppercase;
    border: none;
    border-radius: 0;
    position: relative;
    letter-spacing: 0.3px;
    font-family: 'Baloo Thambi 2', cursive;
    display: block;
}
.row1 {
    display: flex;

}
.col1map {
    width: 60%;
    margin-left: 20%;
}
.ct-sectionheader {
    font-family: 'Baloo Thambi 2', cursive;
}
.img.ct-open{
    max-width: 50%;
    max-height: 50%;
}